.character-system{
	max-width: 100vw;
	width: 100%;
	background-image: url("../images/bg2.png");
	max-height:1727px;
	height: 1727px;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: -175px;
    margin-top: -285px;
}

.character-system--container{
	width: 900px;
	margin: auto;
	position: relative;
	top: 300px;
}

.character-system--info{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.character-system--info img{
	width: 30%;
	height: 13px;
}

.character-system--info p{
	width: 40%;
	text-align: center;
	font-size: 23px;
	text-align: center;
	text-transform: uppercase;
	color: #663105;
	font-weight: bold;
}


.character-system--top{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.character-system--items{
	width: 150px;
	height: 300px;
	background: white;
	margin: 30px;
	cursor: pointer;
}

.character-system--items img{
	width: 100%;
	height: 100%;
}

.character-system--bottom{
	width: 100%;
}

.character-system--content{
	width: 730px;
	position: relative;
	margin: auto;
	top: -45px;
	left: -15px;
}

.skill-1, .skill-2, .skill-3{
	border-radius: 50%;
	position: absolute;
	cursor: pointer;
	width: 110px;
	height: 110px;

}

.character--logo{
	width: 100%;
}

.skill-1{
	top: 185px;
	left: 100px;
}

.skill-2{
	top: 350px;
	left: 33px;
}

.skill-3{
	top: 505px;
	left: 80px;
}

.bg--text-skill{
	position: absolute;
	width: 280px;
    height: auto;
    border: 1px solid #d7b558;
    background: #C6231A;
    border-radius: 5px;
    padding: 5px;
}

.bg--text-skill::before{
	content: "";
	display: block;
    width: 0;
    position: absolute;
    top: -20px;
    margin: 0 auto;
    left: -145px;
    right: 0;
    border: solid 10px #d7b558;
    border-color: transparent transparent #C6231A transparent;
}

.bg--text-skill div .skill-title{
	padding: 20px 0px;
	font-size: 16px;
	text-align: center;
	text-transform: capitalize;
	color: #FFC107;
}

.bg--text-skill div p:last-child{
	font-size: 11px;
	line-height: 20px;
	text-align: start;
	color: #FFFFFF;
	padding: 0px 5px 10px 0px;
}

.text-skill-1{
	top: 300px;
	left: 85px;
	display: none;
	z-index: 100;
}

.text-skill-2{
	top: 465px;
	left: 25px;
	display: none;
	z-index: 100;
}

.text-skill-3{
	top: 620px;
	left: 70px;
	display: none;
	z-index: 2;
}

.skill-1:hover ~ .text-skill-1{
	display: block;
}

.skill-2:hover ~ .text-skill-2{
	display: block;
}

.skill-3:hover ~ .text-skill-3{
	display: block;
}


.character--info{
	position: absolute;
	top: 190px;
	right: 0px;
	width: 200px;
	height: 443px;
	background-image: url("../images/character-info.png");
}

.character--info .character--info-title{
	padding: 40px 10px;
	font-family: iCiel Pacifico;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #FCD517;
	text-shadow: 0px 0px 3px rgb(0 0 0 / 40%)
}

.character--info p:last-child{
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #FFFFD7;
	padding: 5px 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 10;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.character-system--button{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 106%;
    top: 745px;
    left: -35px;
}

.button--errow-left,.button--errow-right{
	    width: 58px;
    height: 56px;
    cursor: pointer;
}

.button--errow-left img ,.button--errow-right img{
	width: 100%;
	height: 100%;
}

.button--errow-right img{
	transform: rotate(-180deg);
}