.top{
	width:100%;
	position: relative;
	max-height: 1482px;
	height: 1482px;
	z-index: 10;
}

.top--bg1,.header--menu--bg,.top--bg--partials{
	width: 100%;
}

.top--bg1{
	background-image: url("../images/bg1.png");
	background-repeat: no-repeat;
	height: 1482px;
	position: absolute;
	top: -30px;
	background-position: center;
}

.top--bg--partials{
	background-image: url("../images/bg-partials.png");
	background-repeat: no-repeat;
	height: 1300px;
	position: absolute;
	top: -300px;
	background-position: center;
}

/*header*/
.header{
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100vw;
	width: 100%;
}

.header--menu{
	background-image: url("../images/menu.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 233px;
	position: relative;
	background-position: center;
}

.header--container{
	width: 100%;
}

.header--container img,.top--bg1 img{
	width: 99vw;
}

.header--icon{
	position: absolute;
	left: -245px;
	top: 25px;
}

.header--icon img{
	width: auto !important;
}


.header--img{
	position: absolute;
	top: 8%;
	left: 43%;
}

.header--img img{
	width: 240px;
	height: 100%;
}

.header .logo{
	position: absolute;
	top: 20px;
	left: 250px;
	width: 220px;
}

.header--nav{
	width: 730px;
	margin: auto;
	position: relative;
}

.header--fanpage{
	display: flex;
	flex-direction: row;
	width: 390px;
	top: 30px;
	right: -285px;
	position: absolute;
}

.header--fanpage a{
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #FFC107 !important;
	flex: 0 0 140px;
	font-weight: bold;
}

.header--fanpage a:last-child{
	flex: 0 0 90px !important;
}

.header--fanpage a:hover{
	text-decoration: none;
	color: #FFC107;
}

.header--call{
	position: absolute;
	width: 230px;
	height: 40px;
	top: 15px;
	right: -100px;
}

.header--call img{
	width: auto;
}

/*menu*/
.menu-header-container{
	position: absolute;
	top: 30px;
	left: -205px;
	width: 340px;
}
.menu-header-container ul{
	display: flex;
	flex-direction: row;
}

.menu-header-container ul li{
	flex: 0 0 115px;
}

.menu-header-container ul li a{
	width: 62px;
	height: 20px;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #FFC107 !important;
	font-weight: bold;
}

.menu-header-container ul li a:hover{
	text-decoration: none;
}


.top-video{
	position: absolute;
	top: 250px;
	width: 100%;
}

.top-video a{
	display: block;
	text-align: center;
	max-width: 100px;
	margin: auto;
}

.header--menu-mobile{
	display: none;
}

.header--menu-mobile-hide{
	display: none !important;
}

.header--menu-mobile-show{
	display: block !important;
}


@media screen and (max-width: 1300px) and (min-width: 1023px) {
	.header--icon{
		left: -130px;
	}
	.menu-header-container{
		left: -95px;
	}
	.header--fanpage{
		right: -145px;
	}
}

@media screen and (max-width: 1023px){
	.header--icon{
		display: none;
	}
	.menu-header-container{
		display: none;
	}
	.header--fanpage{
		display: none;
	}
	.header--menu-mobile{
		display: block;
	}
	.header--menu-mobile .header--menu-bars{
		width: 50px;
		display: block;
		position: absolute;
		top: 10px;
		left: 20px;
	}

	.header--menu-mobile .header--menu-bars i{
		color: white;
		font-size: 50px;
		cursor: pointer;
	}

	.header--menu-mobile-link{
		position: absolute;
		top: 0px;
		width: 100%;
		max-width: 100vw;
		height: 100vh;
		background: #333333;
		z-index: 100;
		display: block;
		max-height: 100vh;
	}

	.header--menu-mobile-link a{
		display: block;
		font-size: 25px;
		color: white !important;
		padding: 20px 10px;
		font-weight: bold;
	}

	.header--menu-mobile-link i{
		font-size: 50px;
	    color: white;
	    position: absolute;
	    top: 10px;
	    right: 15px;
	    cursor: pointer;
	}
}
