.main{
	width: 100%;
	position: absolute;
	top: 650px;
}

.main--container{
	width: 900px;
	margin: auto;
}

.main--info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main--info-left{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main--info-left div:first-child{
	padding-right: 5px;
}

.main--info-left div:first-child img{
	width: 80%;
}

.main--info-left div p, .main--info-left div h3{
	color:#FFF7AB;
	line-height: 40px;
}

.main--info-left div p{
	font-size: 20px;
}

.main--info-left div h3{
	font-size: 25px;
}

.main--info-right{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main--info-right .google-play,.main--info-right .apple-store{
	width: 150px;
	margin-right: 10px;
}

.main--info-right qr{
	width: 90px;
}

.tintuc-main{
	width: 100%;
	max-width: 100vw;
	min-height: 100vh;
	background: rgb(247, 236, 204);
}

.tituc-main--container{
	width: 900px;
	margin: auto;
	padding: 30px 0px;
	display: flex;
	flex-direction: row;
}

.tituc-main--left{
	width: 300px;
	height: 100%;
}

.tituc-main--left div{
	width: 300px;
	height: 150px;
}

.tituc-main--left div img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.tituc-main--left .tituc-main--left--bottom{
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.tituc-main--left div:last-child div{
	width: 150px;
	height: auto;
}

.tituc-main--left div:last-child div:first-child{
	margin-right: 10px;
}

.tituc-main--left div:last-child div img{
	width: 145px;
	height: 60px;
}

.tituc-main--right{
	width: 100%;
	min-height: 100vh;
	height: 100%;
	padding: 0px 20px;
}

.tituc-main--right h3{
	margin: 0;
	text-transform: uppercase;
	font-size: 24px;
}

.tituc-main--right hr{
	border: 1px solid;
}

.tintuc-item{
	padding: 30px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.5px solid;
}

.tintuc-item:last-child{
	border-bottom: none;
}

.tintuc-item a:first-child{
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	padding-right: 50px;
	word-break: break-word;
	font-weight: 600;
	font-size: 14px;
	color: black;
}

.pagination{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.pagination li a{
	color: black;
	padding: 5px;
	cursor: pointer;
}


/*.pagination li a:hover{
	color: white;
}*/

.pagination li:hover,.pagination li a:hover{
	background: red;
	color: white;
}

.pagination li:hover{
	border: 0.5px solid black;
}

.first,.pre,.page,.next,.last{
	padding: 5px 15px;
	color: black;
	border: 0.5px solid black;
}

.first{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last{
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.active{
	background: red;
	color: white;
	border: 0.5px solid black;
}

.active-text{
	color: white !important;
}